html, body, .container {
    font-family: 'Source Sans Pro', sans-serif;
    height: 100%;
}

hr {
    border-top: 1px solid #000;
}

/* Fill scope to size of body */
.ng-scope {
    width: 100%;
    height: 100%;
}

/* Fill background screen with login image */
.login-bg {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/* Use to center login screen */
.container-table {
    display: table;
}

.vertical-center-row {
    display: table-cell;
    vertical-align: middle;
}

/******************************/

/************************************/
/*********** Login Form**************/
/************************************/

/*
    Background container for login
*/
.login-container {
    width: 100%;
    height: 100%;
    padding: 10% 15%;
    background-color: rgba(244, 244, 244, 0.56);
    background-size: cover;
    color: white;
    text-align: center;
}

.login-container form {
    color: white;
}

.login-container table a {
    font-size: 75%;
    color: white;
}

.form-control {
    height: 50px;
}

.form-control #search_form {
    width: 20%;
    height: 24px;
}

.form-group input {
    background-color: #bfbfbe;
    padding: 4% 8%;
    font-size: 150%;
    border: 1px solid white;
}

.form-group textarea {
    color: white;
}

.form-actions button {
    border: 1px solid white;
    padding: 5% 0;
    margin-top: 15%;
    background: #6dcff6;
    font-size: 150%;
}

/* Main Page after logging in (User Feed) */

/****************************************/
/* Create a new run: CSS related to from */
/***************************************/
#main-nav {
    background-color: #222222;
    color: #ffffff;
}

#avatar{
    width:30px;
    height:30px;
}

#main-midsection {
    margin-top: 4%;
}

#workout, #trending {
    background-color: rgba(244, 244, 244, 0.56);
}

#workout ul {
    list-style-type: none;
    padding: 3%;
    margin-left:5%;
}

#workout li {
    display: inline;
    padding: 3px;
}

#workout form input {
    background-color: #ffffff;
}

input[name="workout-description"] {
    height: 100px;
    padding: 3%;
}

/* Workout File (image) associated with new run/workout */
.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}


/* Table to Display workouts in a user feed */
#feed-workout {
    table-layout:fixed;
    border-spacing: 5px;
    width:100%;
    border-collapse: separate;
}

#feed-workout td, th {
    text-align: center;
    vertical-align: middle;
}


/*********************************************/




