<nav class="navbar navbar-default row">
    <div class="container-fluid">
        <div class="navbar-header">
            <ul class="nav navbar-nav">
                <li><a ui-sref="profile">Profile</a></li><!--State Transition on click-->
                <li><a ui-sref="main">Home</a></li><!--State Transition on click-->
                <li><a ui-sref="settings">Settings</a></li>
                <li><a ui-sref="login">Login</a></li>
            </ul>
        </div>
    </div>

    <div ng-controller="NavigationController as ctrl">
        <h2>Search</h2>
        <form name="form" ng-submit="ctrl.SearchUsers()" role="form">
            <div class="form-group">
                <label for="name">Username</label>
                <input type="text" name="name" id="name" class="form-control" ng-model="vm.name" required />
            </div>
            <div class="form-actions">
                <button type="submit" ng-disabled="vm.dataLoading" class="btn btn-primary">Search</button>
            </div>
        </form>
    </div>
</nav>
<h1>Main feed</h1>
<p>Call controllers for the user feed after login.</p>
<p>Hello user {{userInfo.username}}</p>