<!-- Begin Main Container -->
<div class="container container-table">
    <div class="row" id="main-nav">
        <div ng-controller="NavigationController as ctrl">
            <div class="col-sm-2">
                <a style="color:white; cursor:pointer; text-decoration: none;" ui-sref="main"><h3><b>STRIVE.</b></h3></a>
            </div>
            <div class="col-sm-2 col-sm-offset-4" style="padding-top:15px">
                <div>
                    <form id="search_form" name="search_form" ng-submit="ctrl.SearchUsers()" role="form">
                        <div>
                            <input type="text" name="name" id="name" ng-model="ctrl.name" placeholder="Find a runner..."/>
                        </div>
                        <!--<div class="form-actions">-->
                        <!--<button type="submit" class="btn btn-primary">Search</button>-->
                        <!--</div>-->
                    </form>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <ul class="nav navbar-nav">
                <li><a ui-sref="main">Notifications</a></li>
                <li><a ui-sref="profile"><img id="avatar" ng-src="{{vm.userAvatar}}"/></a></li>
                <li><a ui-sref="settings">Settings</a></li>
            </ul>
        </div>
    </div>
    <!-- Container to hold main workout submission form -->
    <div class="row" id="main-midsection">
        <div class="col-sm-3">
            <!-- Container to hold trending users -->
            <div id="trending">
                <span style="padding:15px; font-size:1.1em;">TRENDING</span>
                <hr>

                <div ng-repeat="user in vm.trendingUsers">
                    <span ng-bind="user.username"></span>
                    <span ng-bind="user.avatar"></span>
                    <hr>
                </div>
            </div>
        </div>
        <div class="col-sm-6" id="workout">
            <form name="workout-form" id="workout-form" ng-submit="vm.CreateWorkout()" role="form">
                <!-- Run title -->
                <!--<div class="form-group">-->
                <!--<input type="text" placeholder="Give your run a title" class="form-control"-->
                <!--ng-model="vm.media.caption"-->
                <!--required/>-->
                <!--</div>-->
                <!-- Running Fields -->
                <div class="form-inline">
                    <ul>
                        <li><input type="text" placeholder="Distance" class="form-control"
                                   ng-model="vm.workout.distance"
                                   required/></li>
                        <li><input type="text" placeholder="Duration" class="form-control"
                                   ng-model="vm.workout.duration"
                                   required/></li>
                        <li><input type="text" placeholder="Location" class="form-control"
                                   ng-model="vm.workout.location"
                                   required/></li>
                    </ul>
                    <hr>
                </div>
                <!-- Media Fields-->
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-12">
                            <input type="text" name="workout-description" placeholder="Add a description..." class="form-control"
                                   ng-model="vm.workout.description"/>
                        </div>
                    </div>

                    <!-- File -->
                    <div class="row">
                        <div class="col-sm-12 col-sm-offset-10">
                         <span class="btn btn-default btn-file">
                            Add Image<input type="file" name="file" file/>
                        </span>
                        </div>
                    </div>
                </div>

                <div>
                    <button type="submit" class="btn btn-primary">Create</button>
                </div>
            </form>
            <!-- Template to hold workouts in feed -->
            <br>
            <div class="row" id="feed">
                <div class="col-sm-11">
                    <!-- Test this for file input later to use file directive (check setup)-->
                    <div ng-repeat="fw in vm.feedWorkout" class="workout_feed">
                        <div class="col-sm-12 col-sm-offset-2">
                            <b><span ng-bind="fw.owner.username"></span></b><br>
                        </div>

                        <div class="col-sm-offset-5">
                            <span> <img ng-src={{fw.media.fileName}} alt={{fw.media.caption}}> </span>
                        </div>

                        <div class="col-sm-offset-1 table-responsive">
                            <table id = "feed-workout">

                                <thead>
                                    <tr>
                                        <th>Distance</th>
                                        <th>Duration</th>
                                        <th>Location</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><span ng-bind="fw.distance"></span></td>
                                        <td><span ng-bind="fw.duration"></span></td>
                                        <td><span ng-bind="fw.address"></span></td>
                                    </tr>
                                </tbody>

                            </table>
                        </div>
                        <br>
                        <div class="col-sm-offset-5">
                            <span ng-bind="fw.description"></span>
                        </div>
                        <br><br>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Main Container -->
