<nav class="navbar navbar-default row">
    <div class="container-fluid">
        <div class="navbar-header">
            <ul class="nav navbar-nav">
                <li><a ui-sref="profile">Profile</a></li><!--State Transition on click-->
                <li><a ui-sref="main">Home</a></li><!--State Transition on click-->
                <li><a ui-sref="settings">Settings</a></li>
                <li><a ui-sref="login">Login</a></li>
            </ul>
        </div>
    </div>
</nav>
<h1>Main feed</h1>
    <</h1>
<p>Call controllers for the user feed after login.</p>